body {
  padding: 10px;
}

div.container {
  font-size: 22px;
  font-family: monospace;
  color: white;
}

p {
  display: inline-block;
  padding: .18em .4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: crimson;
}
